### Some python in built functions

In [12]:
a="Tom"
b="hello world"

In [13]:
print("length of a is ",len(a)) #returns the length of a string
print("length of b is ",len(b))

length of a is  3
length of b is  11

In [21]:
num1 = 50.40
num2 = 500.4568
num3 = 9.9

In [22]:
print(round(num1)) #round the value
print(round(num2,2)) #round the value to n number of digit
print(round(num3))

50
500.46
10

In [23]:
a1 = -50
a2 = 50
a3 = -56.20

In [25]:
print(abs(a1)) #return absolute value of a number
print(abs(a2))
print(abs(a3))

50
50
56.2

In [29]:
print(list(range(0,10))) #returns an immutable sequence of numbers starting from 0, increments by 1
print(tuple(range(5,50,2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
(5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49)

In [30]:
print(list(reversed("python"))) #returns the reversed iterator of the given sequence
print(list(reversed("Hello world")))

['n', 'o', 'h', 't', 'y', 'p']
['d', 'l', 'r', 'o', 'w', ' ', 'o', 'l', 'l', 'e', 'H']

## check if "to" is present in "welcome to python"

In [33]:
str1 = "Welcome to python"
"to" in str1

True

In [35]:
str2 = "Welcome to python"
"Java" in str2

False