#Task 10
 Lambda,Map and Filter functions

Reduce funtion:The reduce(fun,seq) function is used to apply a particular function passed in its argument to all of the list elements mentioned in the sequence passed along.This function is defined in “functools” module.

In [8]:
A=[1,2,3,4,5]
from functools import reduce
def do_sum(x1,x2):
    return x1+x2

print(reduce(do_sum,A))

15

In [9]:
B=(10,20,30,40,50)
from functools import reduce
def do_multiplication(y1,y2):
    return y1*y2

print(reduce(do_multiplication,B))

12000000

Zip function:The zip() function returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired together, and then the second item in each passed iterator are paired together etc.

In [19]:
x=('Ram','Sham','Gopal')
y=('Seeta','Radha','Geeta')

C=zip(x,y)
print(tuple(C))

(('Ram', 'Seeta'), ('Sham', 'Radha'), ('Gopal', 'Geeta'))

Enumerate function:The enumerate() function takes a collection (e.g. a tuple) and returns it as an enumerate object. The enumerate() function adds a counter as the key of the enumerate object.

In [20]:
a=['rose','lily','tulip','sunflower']
b=enumerate(a)
print(list(b))

[(0, 'rose'), (1, 'lily'), (2, 'tulip'), (3, 'sunflower')]