##Task6 - Add and remove the elements from a tuple.

In [23]:
#try to add values 
tup1=(1,2,3,4,5,6,"lion","tiger","elephant")
#convert to list
list1=list(tup1)
print(list1)

[1, 2, 3, 4, 5, 6, 'lion', 'tiger', 'elephant']

In [24]:
#Add the value
list1.append("monkey")
print(list1)

[1, 2, 3, 4, 5, 6, 'lion', 'tiger', 'elephant', 'monkey']

In [25]:
#Again convert list to tuple
tup1=tuple(list1)
print(tup1)

(1, 2, 3, 4, 5, 6, 'lion', 'tiger', 'elephant', 'monkey')

In [27]:
#Remove the value
list1.pop(7)
print(list1)

[1, 2, 3, 4, 5, 6, 'lion', 'elephant', 'monkey']

In [29]:
#Again convert list to tuple
tup1=tuple(list1)
print(tup1)

(1, 2, 3, 4, 5, 6, 'lion', 'elephant', 'monkey')