##Task 7

In [7]:
#Inbuilt methods
#difference
#If Set1 and Set2 are two sets. The set difference(Set3) of Set1 and Set2 is a set of elements that exists only in Set1 but not in Set2.
Set1={1,2,3,4,5,6}
Set2={5,6,7,8,9,10}
Set3=Set1.difference(Set2)
print(Set3)

{1, 2, 3, 4}

In [9]:
Set4=Set2.difference(Set1)
print(Set4)

{8, 9, 10, 7}

In [13]:
#symmetric_difference
#The symmetric difference of two sets A and B is the set of elements that are in either A or B, but not in their intersection.
A={'a','b','c','d'}
B={'c','d','e','f'}
C=A.symmetric_difference(B)
print(C)

{'a', 'e', 'f', 'b'}

In [15]:
D=C.symmetric_difference(B)
print(D)

{'a', 'd', 'c', 'b'}

In [16]:
X={1,2,3}    #If both sets have same value output is null set.
Y={1,2,3}
Z=X.symmetric_difference(Y)
print(Z)

set()