##Task 10.1  Usage of continue wiith an example.

The continue keyword is used to end the current iteration in a for loop (or a while loop), and continues to the next iteration.

In [16]:
# Example:
A=[2,4,6,8,10,15,16,18]
for i in A:
  if i%5==0:
    continue
  print(i)

2
4
6
8
16
18

##Task 10.2 Passkeyword with example

In Python, pass is a null statement. The interpreter does not ignore a pass statement, but nothing happens and the statement results into no operation, but you avoid getting an error when empty code is not allowed.

In [18]:
#Example 1
a = 10
b = 20
  
if(a<b):
     pass
else:
     print("tom")

In [19]:
# Example 2
A =['a', 'b', 'c', 'd']
  
for i in A:
    if(i =='a'):
        pass 
    else:
        print(i)

b
c
d

##Task 10

In [30]:
#Using while loop print numbers from 10 to 1
num=10
while num>0:
     print(num)
     num-=1

10
9
8
7
6
5
4
3
2
1

Using for loop to loop over tuples,sets and dictionaries

In [31]:
#for loop to loop over tuple
A=(1,2,0.5,"mango",'banana')
for i in A:
  print(i)

1
2
0.5
mango
banana

In [32]:
#for loop to loop over set
X={10,20,30,40,50}
for i in X:
  print(i)

40
10
50
20
30

In [39]:
#for loop to loop over dictonary

My_dict={'Name':'Rahul','Age':'22','Weight':'55'}
for key in My_dict.keys():
  print(key)
print("")
for value in My_dict.values():
  print(value) 
print('')
for items in My_dict.items():
  print(items)

Name
Age
Weight

Rahul
22
55

('Name', 'Rahul')
('Age', '22')
('Weight', '55')