##Task 5

In [5]:
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}

#Access "Mike"
dict1["april_batch"]["student"]["name"]

'Mike'

In [9]:
#Access 80
dict1["april_batch"]["student"]["marks"]["python"]

80

In [11]:
#change "Mike" to "Your name"
dict1["april_batch"]["student"]["name"]="Priyanka"
print(dict1)

{'april_batch': {'student': {'name': 'Priyanka', 'marks': {'python': 80, 'maths': 70}}}}

In [19]:
#Add ML = 80 and DL = 80 inside marks
dict1["april_batch"]["student"]["marks"]['ML']=80
dict1["april_batch"]["student"]["marks"]['DL']=80
print(dict1)

{'april_batch': {'student': {'name': 'Priyanka', 'marks': {'python': 80, 'maths': 70, 'ML': 80, 'DL': 80}}}}